<div class="card-body msg_card_body">
  <div class="d-flex mb-4" *ngFor= "let message of messages" id="{{ getId(message)}}">
    <ng-container *ngIf="imgFirst(message)"
      [ngTemplateOutlet]="img" 
      [ngTemplateOutletContext]="{src:getSrcImg(message)}">
    </ng-container>
    <div class="msg_cotainer {{editingClass(message.id)}}" (click)="clickedMessage($event, message)">
      {{message.text}}
      <span class="msg_time">{{message.sendTime | date:'HH:mm, d/M '}}
        <i *ngIf="isEdited(message)" class="fas fa-edit"></i>
        <i *ngIf="isViewed(message)" class="fas fa-check"></i>
      </span>
    </div>
    <ng-container *ngIf="!imgFirst(message)"
      [ngTemplateOutlet]="img" 
      [ngTemplateOutletContext]="{src:getSrcImg(message)}">
    </ng-container>
  </div>
</div>

<ng-template #img let-src='src'>
  <div class="img_cont_msg">
    <img src="{{ src }}" class="rounded-circle user_img_msg">
  </div>
</ng-template>