<div>
  <h3>User Info</h3>
  <p><span>id:</span><span> {{userInfo?.id || user?.id}}</span></p>
  <p><span>email:</span>
    <span [class]="showElem('email', false)">{{emailInitValue()}}</span>
    <input type="email" [(ngModel)]="email" value="{{emailInitValue()}}" [class]="showElem('email', true)">
    <i class="fas fa-pen {{modifiable()}}" (click)="changeVisibility('email')"></i>
  </p>
  <p><span>name:</span>
    <span [class]="showElem('name', false)">{{nameInitValue()}}</span>
    <input type="text" [(ngModel)]="name" value="{{nameInitValue()}}" [class]="showElem('name', true)">
    <i class="fas fa-pen {{modifiable()}}" (click)="changeVisibility('name')"></i>
  </p>
  <p><span>surname:</span>
    <span [class]="showElem('surname', false)">{{surnameInitValue()}}</span>
    <input type="text" [(ngModel)]="surname" value="{{surnameInitValue()}}" [class]="showElem('surname', true)">
    <i class="fas fa-pen {{modifiable()}}" (click)="changeVisibility('surname')"></i>
  </p>
  <p><span>username:</span>
    <span [class]="showElem('username', false)">{{usernameInitValue()}}</span>
    <input type="text" [(ngModel)]="username" value="{{usernameInitValue()}}" [class]="showElem('username', true)">
    <i class="fas fa-pen {{modifiable()}}" (click)="changeVisibility('username')"></i>
  </p>
  <p class="{{modifiable()}}"><span>password</span>
    <span>
      <input placeholder="old password" [(ngModel)]="oldPass" [type]="hideOld ? 'password' : 'text'" />
      <button mat-icon-button matSuffix (click)="hideOld = !hideOld" [attr.aria-label]="'Hide password'" tabindex="-1"
        [attr.aria-pressed]="hideOld">
        <i class="fa fa-low-vision" aria-hidden="true"></i>
      </button>
    </span>
    <span>
      <input placeholder="new password" [(ngModel)]="newPass" [type]="hide ? 'password' : 'text'" />
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" tabindex="-1"
        [attr.aria-pressed]="hide">
        <i class="fa fa-low-vision" aria-hidden="true"></i>
      </button>
    </span>
  </p>
  <div class="buttons">
    <div class="button"><button class="{{modifiable()}}" mat-raised-button (click)="update()">update</button></div>
    <div class="button"><button class="{{modifiable()}} delete" mat-raised-button (click)="delete()">Delete user</button></div>
  </div>
</div>